<div class="content">
  <div class="title">
    <h1>Eleccions Municipals</h1>
    <h2>Sant Jordi Desvalls</h2>
    <h3>28M 2023</h3>
  </div>
  <div class="number">
    <label>CUP:</label>
    <span class="minus" (click)="minus('cup')">-</span>
    <input type="text" [(ngModel)]="inputs.cup" (ngModelChange)="calcularRegidors()" />
    <span class="plus" (click)="plus('cup')">+</span>
    <span class="regidors">{{getPartit('cup')?.regidors}}</span>
    <span class="sep"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.5 6a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0zM18 6A6 6 0 1 0 6 6a6 6 0 0 0 12 0zM3 23.25a9 9 0 1 1 18 0 .75.75 0 0 0 1.5 0c0-5.799-4.701-10.5-10.5-10.5S1.5 17.451 1.5 23.25a.75.75 0 0 0 1.5 0z"></path></svg></span>
    <span class="votsPendents">{{getPartit('cup')?.votsPendents}}</span>
  </div>
  <div class="number">
    <label>ERC:</label>
    <span class="minus" (click)="minus('erc')">-</span>
    <input type="text" [(ngModel)]="inputs.erc" (ngModelChange)="calcularRegidors()" />
    <span class="plus" (click)="plus('erc')">+</span>
    <span class="regidors">{{getPartit('erc')?.regidors}}</span>
    <span class="sep"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.5 6a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0zM18 6A6 6 0 1 0 6 6a6 6 0 0 0 12 0zM3 23.25a9 9 0 1 1 18 0 .75.75 0 0 0 1.5 0c0-5.799-4.701-10.5-10.5-10.5S1.5 17.451 1.5 23.25a.75.75 0 0 0 1.5 0z"></path></svg></span>
    <span class="votsPendents">{{getPartit('erc')?.votsPendents}}</span>
  </div>
  <div class="number">
    <label>PSC:</label>
    <span class="minus" (click)="minus('psc')">-</span>
    <input type="text" [(ngModel)]="inputs.psc" (ngModelChange)="calcularRegidors()" />
    <span class="plus" (click)="plus('psc')">+</span>
    <span class="regidors">{{getPartit('psc')?.regidors}}</span>
    <span class="sep"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.5 6a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0zM18 6A6 6 0 1 0 6 6a6 6 0 0 0 12 0zM3 23.25a9 9 0 1 1 18 0 .75.75 0 0 0 1.5 0c0-5.799-4.701-10.5-10.5-10.5S1.5 17.451 1.5 23.25a.75.75 0 0 0 1.5 0z"></path></svg></span>
    <span class="votsPendents">{{getPartit('psc')?.votsPendents}}</span>
  </div>
</div>